<body style="background: #7B7688 !important;">
<div class="row">
    <div id="home"class="twelve columns text-center" style="margin-top: 25%"><br />
    	<h1 class="text-center" style="color:#E4DCDC">Seguro que aquí encontrarás lo que necesitas?</h1>
		
        <a href="/models" class="button round">Bienvenido</a>
        <p style="color: #E4DCDC">* Al ingresar certifico que soy mayor de edad</p>
    </div>
</div>
</body>