<body style="background: #7B7688">
  <%= render partial: "elements/navbar" %>
  

  <div class="row" style="background:white !important">
    <div class="large-12 medium-12 columns">
         
        <div class="large-9 columns">
     		
     		<br>
          <h1>Contactenos</h1>
          <br>
          <p> Si tiene alguna sugerencia, reclamo o alguna inquietud por favor no dude en comunicarse con nosotros.</p>
     
          <div class="section-container tabs" data-section>
            <section class="section">
              <h3 class="title">Sugerencia</h3>
              <div class="content" data-slug="panel1">
                <form>
                  <div class="row collapse">
                    <div class="large-2 columns">
                      <label class="inline">Su Nombre</label>
                    </div>
                    <div class="large-10 columns">
                      <input type="text" id="yourName" placeholder="Pepito Perez">
                    </div>
                  </div>
                  <div class="row collapse">
                    <div class="large-2 columns">
                      <label class="inline">Su Correo</label>
                    </div>
                    <div class="large-10 columns">
                      <input type="text" id="yourEmail" placeholder="pepitoperez@hotmail.com">
                    </div>
                  </div>
                  <label>Cuentenos</label>
                  <textarea rows="4"></textarea>
                  <button type="submit" class="radius button">Enviar</button>
                </form>
              </div>
            </section>
            
          </div>
        </div>
        </div>